*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
    color: white;
}

body{
    /* background-image: linear-gradient(120deg, tan, rgb(236, 99, 45)); */
    background-image: url(./image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    
}
header, form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

form input, form button{
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 1000;
    border: none;
    background-color: rgba(255, 255, 255, 0.329);
    outline: none;
    
}

form button{
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    color: rgb(228, 173, 102);
    transition: all 0.5s ease;
}
form button:hover {
    background-color: rgb(228, 173, 102);
    color: rgb(241, 104, 24);
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo{
    margin: 0.5rem;
    padding-left: 0.6rem;
    /* padding: 1rem; */
    /* border-radius: 20px; */
    /* background: white; */
    background-color:  rgba(255, 255, 255, 0.534);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
}
.todo li{
    
    flex: 1;
}
.cbtn, .tbtn{
    border: none;
    padding: 1rem;
    outline: none;
    transition: all 0.25s ease;
    cursor: pointer;

}
.cbtn{
    background-color: rgba(54, 235, 54, 0.664);
}
.tbtn{
    background-color: rgba(218, 71, 71, 0.76);
}
.cbtn:hover{
    background-color: rgba(23, 172, 23, 0.678);
}
.tbtn:hover{
    background-color: rgba(202, 41, 41, 0.733);
}
.fa-check, .fa-trash{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 50%;
    background: green;
}
.Fall{
    opacity: 0;
    transform: translateY(7rem) rotateZ(10deg);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    background-color: rgba(100, 74, 74, 0.308);
    color:rgb(255, 255, 255);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    background-color: rgba(255, 255, 255, 0.26);
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select::hover::after{
    background-color: rgba(255, 255, 255, 0.288);
}